/* nav */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(233, 244, 242);
    height: 275px;
}
.nav-menus{
    margin-bottom: 60px;
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-right: 30px;
}
.nav-img{
    width: 330px;
    height: 230px;
}
.nav-list{
    font-size: 30px;
    gap: 30px;
}
.nav-container{
   margin-right: 800px;
   text-align: center;
}
/* header styles */
.head-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    gap: 95px;
    align-items: center; 
}
.head-title{
    margin-left: 240px;
}
.head-img{
    margin-top: 50px;
    margin-right: 240px;
    width: 635px;
}

.head-bar{
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-size: 90px;
    font-weight: 900px ;
    margin-bottom: 0px; 
}
.head-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 410;
    margin-top: 25px;
    margin-bottom: 25px;
}
.btn-primary{
    color: white;
    background-color: #E55473;
    padding: 20px 40px;
    border-radius: 6px;
    border: none;
    margin-top: 15px;
    font-size: 18px;

}
/* featured */
.featured{
    text-align: center;
    background-color: #6c98144f;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
.feature-title{
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 170px;
    margin-bottom: 25px;
    
}
.images{
    padding: 80px 200px;
    display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
    gap: 15px;
}
.feature-image-one{
    width: 430px;
    height: 540px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 280px 280px 0px 0px;
}
.feature-image-two{
    width: 430px;
    height: 540px;
    background: rgba(5, 152, 160, 0.226);
    border-radius: 280px 280px 0px 0px;
}
.feature-image-three{
    width: 430px;
    height: 540px;
    background: rgba(181, 206, 15, 0.448);
    border-radius: 250px 250px 0px 0px;
}
.img{
    
    width: 300px;
    height: 425px;
    margin: 110px 75px 0px 75px;
}
.under{
    margin-top: 0px;
    color:#272727;
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
}
/* support section */
.support{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 80px 250px ;
    background-color: rgba(39, 39, 39, 0.05);
    margin-top: 100px;
    margin-left: 465px;
    margin-right: 465px;
}
.picture{
    width: 90px;
    height: 90px;
}
.support-head{
    color: rgba(39, 39, 39, 0.80);
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
     
}
.delivery{
    text-align: center;
}
/* Hot deal section */
.hot-deal{
    padding:80px 120px ;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.deal-text{
    text-align: center;
}
.deal-title{
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.deal-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 450;
}
.deal-img{
    margin-top: 50px;
    width: 310px;
    height: 400px;
}
/* contact form */
 .contact-form{
    background-color:rgba(209, 186, 96, 0.15);
    margin: 30px 120px;
    padding: 80px 240px ; 
    display: flex;
    justify-content: space-around;
}
.form-head{
    text-align: center;
    margin-left: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
} 
.form input,textarea{
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px 40px;
    color: #757575;
    border-radius: 10px;
    background:  #FFF;
    border: 0;
    width: 100%;
}
/* choose */
.choose{
    text-align: center;
    background-color: #269a9e;
    padding: 80px 700px;
    margin: 30px 180px;
    box-shadow: 10px 5px 10px 5px gray;
    border-radius: 10px;
}
/* insta */
.insta{
    padding-top: 10px;
    background-color: rgba(127, 255, 212, 0.64);
    text-align: center;
}
.insta-image{
    width: 330px;
    height: 380px;
}
/* last section */
.sub{
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
    background-image: url('./Assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 2000px;
    height: 600px;
}
.comments{
    display: block;
    border-radius: 8px;
}